@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');


.contentContCateg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 789px;
    height: 200px;
    left: 700px;
    top: 212px;
    background: #FFFFFF;
    border-radius: 20px;
}

.categoryTitleTextCateg {
    width: 108px;
    height: 18px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #333333;
}

.categoryFormCateg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 741px;
    height: 110px;
}

/* category input field */

input[type="category"]{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 741px;
    height: 48px;
    background: #F1F4F8;
    border: 1px solid #CECECE;
    border-radius: 16px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(47, 48, 49, 0.54);
    background: #F1F4F8;
    padding: 0 20px;
    transition: transform .2s ease-in;
}

#category {
    background-image: url('../images/search-normal.svg');
    background-position: 705px 12px;
    background-repeat: no-repeat;
}

input[type="category"]:focus {
  outline-color: #793EF5;
  transform: scale(1.01);
}

/* search items results */
.searchResultContCateg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 303px;
    height: 46px;
}

.resultContCateg {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 12px 16px;
    gap: 30px;
    width: 291px;
    height: 46px;
    background: rgba(102, 95, 239, 0.2);
    border: 1px solid #793EF5;
    border-radius: 32px;
}


.resultTextCateg {
    width: 140px;
    height: 22px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #793EF5;

    white-space: nowrap;
}
