
.home-container {
    display: flex;
    flex-direction: row;
    background: #F1F4F8;
    width: 1512px;
    height: 965px;
    margin: 16px 0 0 16px;
  }
  
  .right--cont {
    display: grid;
    grid-template-rows: 10% 30% 60%;
    margin: .5rem 0 0 6.6rem;
    align-items: center;
  }
  