
  .right--cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 1135px;
    height: 706px;
    left: 311px;
    top: 54px;
  }
  