@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

.containerNavbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 1466px;
    height: 80px;
    left: 23px;
    top: 20px;
    margin: 0 auto;
    filter: drop-shadow(0px 12px 34px rgba(0, 0, 0, 0.04));
    text-align: center;
}


.titleContNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 866px;
    height: 80px;
    background: #FFFFFF;

}

.titleTextNavbar {
    width: 278px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
}

