@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

.containerNavbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 1466px;
    height: 80px;
    left: 23px;
    top: 20px;
    margin: 0 auto;
    filter: drop-shadow(0px 12px 34px rgba(0, 0, 0, 0.04));
    text-align: center;
}

.backBtnContNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 30px 0px 0px 30px;
}

.backBtnNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 80px;
    height: 28px;
    text-decoration: none;
}

.backArrowNavbar {
    background: url('../images/arrow-left.png');
    width: 28px;
    height: 28px;
}

.backTextNavbar {
    width: 44px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
}

.titleContNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 866px;
    height: 80px;
    background: #FFFFFF;

}

.titleTextNavbar {
    width: 278px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
}

.continueBtnContNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
}

.continueBtnNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 219px;
    height: 44px;
    background: #E2E6EB;
    border-radius: 12px;
}

.continueTextNavbar {
    width: 169px;
    height: 20px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;
    color: #828282;
}

.forwardBtnNavbar {
    width: 20px;
    height: 20px;
    background: url('../images/arrow-right.png');
}

