@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

.mentorContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    isolation: isolate;
    position: absolute;
    width: 789px;
    height: 314px;
    left: 700px;
    top: 212px;
    background: #FFFFFF;
    border-radius: 20px;
}

.mentorDetailsTitle {
    width: 170px;
    height: 18px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #333333;
}

.rectanglePhoto {
    width: 80px;
    height: 80px;
    background: #E2E6EB;
    border-radius: 20px;
}

.formInfos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 741px;
    height: 48px;
}

.nameField, .emailField {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 12px 12px 16px;
    gap: 10px;
    width: 358.5px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 12px;
}


.namePlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    width: 296.5px;
    height: 24px;
}

.nameFieldText {
    width: 280px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
    opacity: 0.5;
    border: 0;
    background: #FFFFFF;
    padding: 0 5px;
}



.emailPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    width: 296.5px;
    height: 24px;
}

.emailFieldText {
    width: 280px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
    opacity: 0.5;
    border: 0;
    background: #FFFFFF;
    padding: 0 5px;
}

.linkedinUrlForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 12px 12px 16px;
    gap: 10px;
    width: 741px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 12px;
}



.formText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    width: 679px;
    height: 24px;
}

.linkedinText {
    width: 650px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
    opacity: 0.5;
    border: 0;
    background: #FFFFFF;
    padding: 0 5px;
}

.pictureLogo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px;
    gap: 10px;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 82px;
    top: 125px;
    background: #2153FF;
    border-radius: 10px;
}




