.container {
    display: flex;
    flex-direction: row;

}
.errorCont {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorText {
    width: 100%;
    font-style: normal;
    font-size: 150px;
    font-family: 'Space Grotesk';
    font-weight: 400;
}

.pageNotFound {
    margin: 10px auto;
    letter-spacing: 0.2em;
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}